@{
    ViewData["Title"] = "Home Page";
}

<meta charset="utf-8" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to your new app.</p>
    <a href="/Home/Register">Register</a> | <a href="/Home/Login">Login</a>
</div>
